/* responsive-topnav */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #000000;
  width: 100vw;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: yellow;
  color: black;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/* responsive-topnav-end */

/* heor-seciton */
.hero {
  position: relative;
  width: 100vw;
  height: 91vh;
  background-color: black;
}
.yellow {
  position: absolute;
  left: 0;
  width: 305px;
  height: 91vh;
  background-color: yellow;
  z-index: 1;
}
.grey {
  position: absolute;
  right: 0;
  width: 305px;
  height: 91vh;
  background-color: #9e9e9e5a;
  z-index: 2;
}
.hero-image {
  position: absolute;
  z-index: 3;
  left: 8%;
  top: 17.5%;
}
.hero-image img {
  width: 370px;
  height: 420px;
}
.hero-title {
  position: absolute;
  z-index: 4;
  top: 17.5%;
  right: 10%;
  width: 50%;
  height: 440px;
  background-color: #000000;
}
.hero-title-1 {
  position: absolute;
  left: 5%;
}
.hero-title-1 h1 {
  margin-bottom: 0;
  color: rgba(255, 255, 0, 0.749);
  font-weight: 550;
  font-size: 36px;
}
.hero-title-2{
  position: absolute;
  top: 10%;
  left: 5%;
}
.hero-title-2 h1{
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 50px;
  color: white;
  font-weight: 800;
}
.hero-btn-p {
  position: absolute;
  top: 35%;
  left: 5%;
}
.hero-btn-p button {
  margin-top:   1px;
  height: 50px;
  width: 130px;
  border: 2px solid #333;
  border-radius: 24px;
  background: none;
  color: rgba(255, 255, 255, 0.749);
  font-weight: 750;
}

.hero-btn-p p {
  color: #333;
  margin-right: 7%;
  font-size: 15px;
}

@media only screen and (max-width: 360px) {
  .hero {
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 72vh;
    background-color: black;
  }
  .yellow {
    position: absolute;
    left: 0;
    width: 130px;
    height: 72vh;
    background-color: yellow;
    z-index: 1;
  }
  .grey {
    position: absolute;
    right: 0;
    width: 130px;
    height: 72vh;
    background-color: #9e9e9e5a;
    z-index: 2;
  }
  .hero-image {
    position: absolute;
    z-index: 3;
    left: 8%;
    top: 5.5%;
  }
  .hero-image img {
    width: 300px;
    height: 380px;
  }
  .hero-title {
    position: absolute;
    z-index: 4;
    top: 42%;
    right: 7%;
    width: 300px;
    height: 380px;
    background: none;
  }
  .hero-title-1 {
    margin-top: 5%;
  }
  .hero-title-1 h1 {
    font-weight: 800;
    font-size: 24px;
  }
  .hero-title-2 h1{
    font-size: 32px;
    font-weight: 800;
  }
  .hero-btn-p {
    margin-top: -9%;
    margin-left: -2%;
  }
  .hero-btn-p button {
  margin-top:   1px;
  height: 42px;
  width: 120px;
  border: 2px solid #fff;
  border-radius: 24px;
  background-color: white;
  color: rgb(8, 8, 8);
  font-weight: 750;
  font-size: 12px;
  }
  .hero-btn-p p {
    display: none;
  }
}

/* typing-text-animation */
.typing {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  color: rgb(252, 252, 252);
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 12vw;
}

#typing::after {
  content: '|';
  position: relative;
  right: 0;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from, to {
      color: transparent
  }
  50% {
      color: yellow;
  }
}
/* typing-text-animation-end */

/* about me */
.about-me {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
}
.abt-head {
  position: absolute;
  height: 10%;
  width: 100%;
  border: 2px solid rgb(241, 241, 0);
  color: white;
  text-align: center;
  margin: 0;
}

.abt-container {
  height: 350px;
  width: 580px;
}
.abt-container1 {
  position: absolute;
  top: 25%;
  left: 7%;
}
.abt-container1 .personal-info {
  position: absolute;
  text-align: left;
  width: 100%;
  height: fit-content;
  left: 5%;
  color: white;
}
.info1 , .info2 {
  position: absolute;
  top: 15%;
  height: fit-content;
  width: fit-content;
  color: white;
}
.info1 span , .info2 span {
  color: #333;
}
.info1 {
  left:5%;
}
.info2 {
  right:5%;
}
.btn button {
  height: 50px;
  width: 130px;
  border: 2px solid yellow;
  border-radius: 24px;
  background: none;
  color: white;
  font-weight: 750;
  position: absolute;
  left: 5%;
  bottom: 0;
}
.abt-container2 {
  position: absolute;
  top: 25%;
  right: 7%;
}
.box {
  height: 160px;
  width: 270px;
  border: 2px solid rgb(88, 85, 85);
}
.box h1 {
  margin: 25%;
}
.box1 {
  position: absolute;
  top: 0;
  left: 0;
}
.exp {
  position: absolute;
  left: 10%;
  color: white;
  font-size: 30px;
  text-align: left;
}
.exp1 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 60%;
  color: white;
}
.box2 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.box3 {
  position: absolute;
  top: 0;
  right: 0;
}
.box4 {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media only screen and (max-width: 360px) {
  .about-me {
    height: 166vh;
    overflow:hidden;
  }
  .abt-head {
    position: absolute;
    height: 5%;
    width: 100%;
    border: 2px solid rgb(241, 241, 0);
    color: white;
    text-align: center;
    margin: 0;
  }
  .abt-container {
    height: 350px;
    width: 360px;
  }
  .abt-container1 {
    position: absolute;
    top: 7%;
  }
  .abt-container2 {
    position: absolute;
    top: 55%;
  }
  .info1 {
    position: absolute;
    top: 12%;
    height: fit-content;
    width: fit-content;
    color: white;
  }
  .info2 {
    position: absolute;
    top: 70%;
    left: 5%;
    height: fit-content;
    width: fit-content;
    color: white;
  }
  .btn button {
    top: 135%;
    left: 2%;
  }
  .box {
    position: absolute;
    left: 5%;
    height: 100px;
    width: 360px;
    border: 2px solid rgb(88, 85, 85);
  }
  .box h1 {
    font-size: 50px;
  }
  .box1 {
    position: absolute;
    top: 13%;
  }
  .box2 {
    position: absolute;
    top: 100%;
  }
  .box3 {
    position: absolute;
    top: 42%;
  }
  .box4 {
    position: absolute;
    top: 71%;
  }
}
/* about-me-end */

/* skills */
.skills {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
}
.skill-head {
  position: absolute;
  top: 0;
  width: 100%;
  height: fit-content;
  color: #ddd;
  text-align: center;
  border: 2px solid yellow;
}
.skill-1 {
  position: absolute;
  top: 20%;
  left: 8%;
}
.skill-2 {
  position: absolute;
  top: 20%;
  left: 33%;
}
.skill-3 {
  position: absolute;
  top: 20%;
  left: 58%;
}
.skill-4 {
  position: absolute;
  top: 20%;
  left: 78%;
}
.skill-5 {
  position: absolute;
  top: 55%;
  left: 8%;
}
.skill-6 {
  position: absolute;
  top: 55%;
  left: 33%;
}
.skill-7 {
  position: absolute;
  top: 55%;
  left: 58%;
}
.skill-8 {
  position: absolute;
  top: 55%;
  left: 78%;
}
@media only screen and (max-width: 360px) {
  .skills {
    position: relative;
    margin: 0;
    padding: 0;
    width: 360px;
    height: 170vh;
    background-color: black;
    overflow: hidden;
  }
  .skill-1 {
    position: absolute;
    top: 10%;
    left: -2%;
  }
  .skill-2 {
    position: absolute;
    top: 10%;
    left: 45%;
  }
  .skill-3 {
    position: absolute;
    top: 32%;
    left: -2%;
  }
  .skill-4 {
    position: absolute;
    top: 32%;
    left: 45%;
  }
  .skill-5 {
    position: absolute;
    top: 54%;
    left: -2%;
  }
  .skill-6 {
    position: absolute;
    top: 54%;
    left: 45%;
  }
  .skill-7 {
    position: absolute;
    top: 75%;
    left: -2%;
  }
  .skill-8 {
    position: absolute;
    top: 75%;
    left: 45%;
  }
}
/* skills-end */

/* progress-bar */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #0d0d0d;
}
.container__progressbars {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  min-width: 270px;
  width: 100%;
  min-height: 100%;
}
.progressbar {
  position: relative;
  width: 170px;
  height: 170px;
  margin: 1em;
  transform: rotate(-90deg);
}
.progressbar__svg {
  position: relative;
  width: 100%;
  height: 100%;
}
.progressbar__svg-circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 10;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke: rgb(231, 231, 3);
  stroke-linecap: round;
  transform: translate(5px, 5px);
}
.circle-html {
  animation: anim_circle-html 1s ease-in-out forwards;
}
.circle-css {
  animation: anim_circle-css 1s ease-in-out forwards;
}
.circle-scss {
  animation: anim_circle-scss 1s ease-in-out forwards;
}
.circle-js {
  animation: anim_circle-js 1s ease-in-out forwards;
}
.circle-ts {
  animation: anim_circle-ts 1s ease-in-out forwards;
}
.circle-node {
  animation: anim_circle-node 1s ease-in-out forwards;
}
.circle-react {
  animation: anim_circle-react 1s ease-in-out forwards;
}
.circle-angular {
  animation: anim_circle-angular 1s ease-in-out forwards;
}
.circle-vue {
  animation: anim_circle-vue 1s ease-in-out forwards;
}
.progressbar__text {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0.25em 0.5em;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0.25em;
  transform: translate(-50%, -50%) rotate(90deg);
}
@keyframes anim_circle-html {
  to {
    stroke-dashoffset: 55;
  }
}
@keyframes anim_circle-css {
  to {
    stroke-dashoffset: 50;
  }
}
@keyframes anim_circle-scss {
  to {
    stroke-dashoffset: 190;
  }
}
@keyframes anim_circle-js {
  to {
    stroke-dashoffset: 30;
  }
}
@keyframes anim_circle-ts {
  to {
    stroke-dashoffset: 45;
  }
}
@keyframes anim_circle-node {
  to {
    stroke-dashoffset: 100;
  }
}
@keyframes anim_circle-react {
  to {
    stroke-dashoffset: 170;
  }
}
@keyframes anim_circle-angular {
  to {
    stroke-dashoffset: 165;
  }
}
@keyframes anim_circle-vue {
  to {
    stroke-dashoffset: 431.2;
  }
}

/* qualification */
.qualification {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 60vh;
  background-color: black;
}
.quali {
  position: absolute;
  top: 0;
  width: 100%;
  height: fit-content;
  color: #ddd;
  text-align: center;
  border: 2px solid yellow;
}
.q-box {
  position: absolute;
  width: 290px;
  height: 200px;
  border-radius: 24px;
}
.q-box span {
  color: #333;
}
.art {
  position: absolute;
  top: 36%;
  left: 2%;
  color: white;
  padding-left: 2%;
}
.ssc {
  position: absolute;
  top: 36%;
  left: 27%;
  color: white;
  padding-left: 2%;
}
.hsc {
  position: absolute;
  top: 36%;
  left: 52%;
  color: white;
  padding-left: 2%;
}
.graduate {
  position: absolute;
  top: 36%;
  left: 77%;
  color: white;
  padding-left: 2%;
}

@media only screen and (max-width: 360px) {
  .qualification {
    position: relative;
    margin: 0;
    padding: 0;
    width: 360px;
    height: 130vh;
    background-color: black;
    overflow: hidden;
  }
  .q-box {
    position: absolute;
    width: 340px;
    height: 200px;
    align-items: center;
    border-top: 2px solid white;
  }
  .art {
    position: absolute;
    top: 14%;
    left: 0%;
    color: white;
    padding-left: 6%;
  }
  .ssc {
    position: absolute;
    top: 32%;
    left: 0%;
    color: white;
    padding-left: 6%;
  }
  .hsc {
    position: absolute;
    top: 55%;
    left: 0%;
    color: white;
    padding-left: 6%;
  }
  .graduate {
    position: absolute;
    top: 78%;
    left: 0%;
    color: white;
    padding-left: 6%;
  }
}
/* qualification-end */

/* projects */
.projects {
  position: relative;
  width: 100vw;
  height: 80vh;
  background-color: black;
}
.project {
  position: absolute;
  top: 0;
  width: 100%;
  height: fit-content;
  color: #ddd;
  text-align: center;
  border: 2px solid yellow;
}
.code-box {
  position: absolute;
  width: 350px;
  height: 300px;
  top: 28%;
}
.code-box a {
  text-decoration: none;
  text-decoration-line: underline ;
  color: white;
  font-size: 25px;
  margin: 7%;
}
.code {
  position: absolute;
  left: 10%;
  text-align: left;
  color: white;
  border-right: 5px solid #eaff00;
}
.code-box h2 {
  margin: 3%;
  font-size: 35px;
  color: rgb(232, 232, 6);
}
.code-man
{
  position: absolute;
  left: 38%;
  height: 300px;
  border: 3px solid gray;
}
.code-man img {
  width: 350px;
  height: 300px;
}
.no-code {
  position: absolute;
  right: 7%;
  text-align: left;
  color: white;
  border-left: 5px solid #eaff00;
  padding-left: 3%;
}
@media only screen and (max-width: 360px) {
  .projects {
    position: relative;
    width: 100vw;
    height: 142vh;
    background-color: black;
    overflow: hidden;
  }
  .code-box {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 360px;
    height: 300px;
    top: 28%;
  }
  .code {
    position: absolute;
    top: 45%;
    left: 0%;
    text-align: left;
    color: white;
    border: none;
  }
  .code-man
  {
   margin: 0;
   padding: 0;
  position: absolute;
  top: 10%;
  left: 0%;
  height: 300px;
  border: none;
  }
.no-code {
  position: absolute;
  top: 75%;
  left: 0%;
  text-align: left;
  color: white;
  border: none;
  }
  .code-box a {
    width: 300px;
    text-decoration: none;
    text-decoration-line: underline ;
    color: white;
    font-size: 25px;
  }
  .code-box h2 {
    width: 300px;
    font-size: 35px;
    color: rgb(232, 232, 6);
  }
}
/* projects-end */

/* contact-me */
.contact-me {
  position: relative;
  width: 100vw;
  height: 55vh;
  background-color: black;
}
.contact {
  position: absolute;
  top: 0;
  width: 100%;
  height: fit-content;
  color: #ddd;
  text-align: center;
  border: 2px solid yellow;
}
.cont-box {
  position: absolute;
  top: 35%;
  width: 350px;
  height: 200px;
}
.cont-1 {
  position: absolute;
  left: 15%;
  width: 450px;
  color: white;
  text-align: left;
}
.cont-1 button {
  height: 50px;
  width: 130px;
  border: 2px solid yellow;
  border-radius: 24px;
  background: none;
  color: white;
  font-size: 18px;
  font-weight: 750;
  position: absolute;
  bottom: 0;
} 
.cont-2 {
  position: absolute;
  right: 15%;
  border: 3px solid #333;
}
.cont-2 img {
  width: 350px !important;
  height: 200px !important;
}

@media only screen and (max-width: 360px) {
  .contact-me {
    position: relative;
    width: 100vw;
    height: 80vh;
    background-color: black;
    overflow: hidden;
  }
  .cont-box {
    position: absolute;
    top: 17%;
    width: 360px;
    height: 200px;
  }
  .cont-1 {
    position: absolute;
    top: 58%;
    left: 0%;
    right: 0;
    width: 360px;
    color: white;
    text-align: left;
  }
  .cont-2 {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0%;
    border: none;
  }
  .cont-2 img {
    width: 360px !important;
    height: 200px !important;
  }
}
/* contact-me-end */



